.metadata/

**/.metadata/

**/.recommenders/

**/bin/

**/Servers/
# Compiled class file
*.class

# Log file
log/

# IntelliJ IDEA files
.idea/
*.iml
*.iws
*.ipr

# Maven target directory
target/

*.class
*.log
# *.jar
*.war
*.ear

#추가 파일
.settings/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.project
.cproject
.settings/
.loadpath
.externalToolBuilders/
*.launch
/metadata/
.metadata
*.log

# STS(Spring Tool Suite)
.apt_generated
.factorypath
.springBeans
.settings/
target/
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.project
.cproject
*.launch
*.manifest
*.log
*.tmp
*.bak
*.swp
*~
/.metadata/
.sass-cache/
.mvn/
.vscode/
.DS_Store
*.iml
*.ipr
*.iws
.idea/
.idea_modules/